[Bb]uild/
[Bb]uilds/
[Oo]bj/
[Tt]emp/
[Ll]ibrary/
Assets/AssetStoreTools*

/.vs/

.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb

*.pidb.meta
*.pdb.meta

sysinfo.txt

*.apk
*.unitypackage
